<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="DoraemonCare_mother_of_final.DoraemonCare_mother_of_final" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="DoraemonCare_mother_of_final"></application>
</manifest>